.links {
  display: flex;
  flex-direction: row;

  user-select: none;

  .link {
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.toast-position {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
  bottom: 20px;
  right: 20px;
  transition: transform 0.5s;
  transform: scaleY(0);
}

.toast-on {
  transform: scaleY(1);
}

.modal-opacity {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  --modal-bg: rgba(0, 0, 0, 0.5);
  --modal-box-shadow: rgba(0, 0, 0, 0.5);
}

.modal {
	.modal-title {
		font-weight: 800;
	}

	.divider {
		border: none;
		border-color: red;
	}

	.content-text {
		line-height: 1.7em;

		margin-top: 10px;
		margin-bottom: 10px;
	}

	.modal-button {
		min-height: 40px;
		aspect-ratio: 5 / 1;
		border: none;

		font-weight: 800;

		&:hover {
		opacity: 0.7;
		cursor: pointer;
		}

		&:active {
		opacity: 0.4;
		}
	}

	.modal-x {
		min-height: 35px;
		aspect-ratio: 1 / 1;
		border: none;

		font-weight: 800;

		&:hover {
		opacity: 0.7;
		cursor: pointer;
		}

		&:active {
		opacity: 0.4;
		}
	}

	.modal-copys {
		display: flex;
		gap: 20px;

		.modal-copy {
			min-height: 40px;
			aspect-ratio: 2.5 /1;
			border: none;

			font-weight: 800;

			&:hover {
				opacity: 0.7;
				cursor: pointer;
			}

			&:active {
				opacity: 0.4;
			}
		}
	}
}
