.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .button {
        min-width: 200px;
        aspect-ratio: 16 / 3;
        border: none;

        font-weight: 800;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        &:active {
            opacity: 0.4;
        }
    }
}

.modal-opacity {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    .modal-title {
        font-weight: 800;
    }

    .divider {
        border: none;
        border-color: red;
    }

    .content-text {
        line-height: 1.7em;
    }

    .content-list {
        flex-wrap: wrap;
        gap: 20px;
    }

    .attribute {
        user-select: none;

        border-width: 1px;
        border-style: dotted;
        width: 30%;
        aspect-ratio: 4 / 1;
        transition: 0.3s;

        &:hover {
            border-width: 5px;
            border-style: solid;
            opacity: 0.7;
            cursor: pointer;
        }

        &:active {
            opacity: 0.4;
        }
    }

    .attribute-active {
        border: none;
    }

    .modal-button {
        min-height: 40px;
        aspect-ratio: 5 / 1;
        border: none;

        font-weight: 800;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        &:active {
            opacity: 0.4;
        }
    }

    .modal-x {
        min-height: 35px;
        aspect-ratio: 1 / 1;
        border: none;

        font-weight: 800;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        &:active {
            opacity: 0.4;
        }
    }
}