.attributes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;

	user-select: none;

	width: 80%;
	height: 100%;

	.attribute {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 150px;
		aspect-ratio: 3 / 1;

		font-weight: 800;
		text-align: center;
	}
}

@media only screen and (max-width: 740px) {
	.attributes {
		width: 100%;
	}
}

@media only screen and (max-width: 590px) {
	.attributes {
		gap: 30px;

		.attribute {
			width: 40%;
			height: 50px;
		}
	}
}

@media only screen and (max-width: 360px) {
	.attributes {
		.attribute {
			font-size: 0.8em;
		}
	}
}

@media only screen and (max-width: 270px) {
	.attributes {
		.attribute {
			font-size: 0.7em;
		}
	}
}

@media only screen and (max-width: 252px) {
	.attributes {
		p {
			font-size: 0.7em;
		}
	}
}


