<div class="attributes">
  <div class="attribute b-dark t-normal">Nome</div>
  <div class="attribute b-dark t-normal">CPF</div>
  <div class="attribute b-dark t-normal">Idade</div>
  <div class="attribute b-dark t-normal">RG</div>
  <div class="attribute b-dark t-normal">Data de Nascimento</div>
  <div class="attribute b-dark t-normal">Nome</div>
  <div class="attribute b-dark t-normal">CPF</div>
  <div class="attribute b-dark t-normal">Idade</div>
  <div class="attribute b-dark t-normal">RG</div>
  <div class="attribute b-dark t-normal">Data de Nascimento</div>
</div>
