.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;

    $font-title: "Quicksand", Arial, Helvetica, sans-serif;

    .title {
        user-select: none;

        font-family: $font-title;
        font-size: 3.5em;
        font-weight: 800;
    }

    .subtitle {
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
    }
}

@media only screen and (max-width: 315px) {
    .logo {
        .subtitle {
            font-size: 1em;
        }
    }
}

